
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('photo-1444080748397-f442aa95c3e5.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.main1{

    display: grid;
    grid-template-columns: 31% 1% 1fr;
}

.leftpart{
    background-image: url('stars-1837306_640.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p, h2, h3, h4, header {
    padding: 1rem;
}
p {

    color: white;
    font-size: 20PX;
    font-weight: 900;
}

h1 {
    text-align: left;
    color: white;
    font-size: 40PX;
}

h3{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000
}
h4{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000

}


.profile {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.profile img {
    width: 100%;
    height: auto;
}


ul {
    list-style: none;
    color: white;
    font-size: 17px;
    font-weight: 900;
}


a:link{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}

a:hover{
    color: royalblue;
    text-decoration: none;
}
a:active{
    color: black;
    text-decoration: dotted;

}

a:focus{
    color: blueviolet;
    text-decoration: line-through;
}

a:visited{
    color: brown;
    font-style: italic;
}


.aboutme{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000

}
.personal{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000
}

.Skills{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000
}
.lang{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000

}




.education{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000
    
}

.goals{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000

}

.experience{
    color: white;
    font-size: 17px;
    font-stretch: normal;
    font-family: Chalkduster;
    font-weight: 5000


}















